.contact {
  position: relative;
  width: 100%;
  height: 90vh;
  min-height: 700px;
  margin-top: 100px;
  background-image: url(./jpg/dmitrii.votchitsev_2215405451567359885_3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  content: '';
}

.contact-wrapper {
  display: flex;
  width: 65%;
  margin: 0 auto;
  justify-content: space-between;
}

.contact-form {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 70%;
}

.contact-form--title {
  padding-top: 20px;
  margin-bottom: 0;
  color: white;
  text-transform: capitalize;
  font-size: 3em; 
}

.contact-form--title--underline-container {
  display: flex;
  justify-content: flex-start;
  width: 233px;
  height: 1px;
  background-color: rgb(237, 237, 237);
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-form--title--underline {
  width: 30%;
  background-color: #FF305B;
}

.contact-input {
  width: 90%;
  height: 2.5em;
  margin: 15px 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* opacity: 0.4; */
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: white;
  padding: 0 15px;
  z-index: 1;
  box-sizing: border-box;
}

textarea.contact-input {
  height: 15em;
  padding: 15px;
}

.contact-form > input[type="submit"] {
  width: 90%;
  height: 3em;
  cursor: pointer;
  background-color: #FF305B;
  color: white;
  border: none;
  margin-top: 15px;
}

.contact-form > input[type="submit"]:hover {
  background: none;
  border: 1px solid #FF305B;
  transition: all 500ms;
}

.contact-plate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: fit-content;
  margin-top: 90px;
  padding: 15px;
  border: 1px solid #FF305B;
}

.contact-plate::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: black;
  opacity: 0.4;
}

.contact-plate--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  z-index: 1;
}

.contact-plate--item--icon {
  display: block;
  width: 50px;
  height: 50px;
  opacity: 1;
  padding: 5px;
}

.contact-plate--item--title {
  color: white;
  font-weight: bold;
  padding: 5px;
}

.contact-plate--item--content {
  color: white;
}

.contact-plate--socials {
  display: flex;
  z-index: 1;
  margin: 10px;
  width: 50%;
  align-self: center;
  justify-content: space-around;
}

.contact-plate--socials-item {
  display: block;
  height: 30px;
  width: 30px;
}

.phone {
  background-image: url(./svg/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.location {
  background-image: url(./svg/location.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.email {
  background-image: url(./svg/email.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  background-image: url(./svg/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram {
  background-image: url(./svg/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.github {
  background-image: url(./svg/github.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1200px) {
  .contact-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .contact-form {
    align-self: center;
  }

  .contact {
    height: fit-content;
  }

  .contact-plate {
    align-self: center;
    width: 80%;
  }

  .contact-form--title {
    font-size: 1.5em;
  }
}