.banner {
  background-image: url(./jpg/dmitrii.votchitsev_2646783718260362226.jpg);
  background-size:cover;
  background-position: center;
  width: 100%;
  height: 110vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
  --webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 0% 100%);
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.65;
}

.banner-content-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  text-align: center;
}

.banner-content--static-text--hello {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 30px;
}

.banner-content--static-text--name {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
}

.banner-content--dynamic-text-container {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.banner-content-cursor {
  display: block;
  width: 2px;
  height: 38px;
  background-color: white;
  margin-left: 5px;
  animation: cursor;
  animation-duration: 1s;
  animation-timing-function:cubic-bezier(1, 0, 0, 1);
  animation-iteration-count: infinite;
}

.banner-content-text {
  font-size: 1.7em;
  box-sizing: border-box;
  height: 2em;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .banner-content-container {
    width: 95% !important;
  }

  .banner-content--static-text--hello {
    font-size: 1em;
  }

  .banner-content--static-text--name {
    font-size: 1em;
  }

  .banner-content-text {
    font-size: 1em;
  }

  .banner-content-cursor {
    height: 20px;
  }
}

@keyframes cursor {
  0% {
    background-color: aqua;
  }

  100% {
    background-color: black;
  }
}